{{ blok._editable }}
<form data-blok-form class="uk-form">
  <div class="uk-form-row">
    <input class="uk-width-1-1" type="text" placeholder="Email" name="message[email]" />
  </div>
  <div class="uk-form-row">
    <textarea class="uk-width-1-1" placeholder="Message" name="message[body]"></textarea>
  </div>
  <div class="uk-form-row">
    <button type="submit" class="uk-button">Submit</button>
  </div>
  <div style="display: none;">
    <input type="text" name="message[comment]" />
  </div>
</form>


