{{ blok._editable }}
<div class="uk-grid uk-grid-match uk-margin-large {{ blok.styles | join: ' ' }}" data-uk-grid-match>
  {% for item in blok.body %}
    {% include item.component with blok: item %}
  {% endfor %}
</div>
