{{ blok._editable }}
<div class="uk-panel uk-panel-space uk-text-center">
  <blockquote class="uk-text-large">{{ blok.quote | default:'Lorem ipsum' }}</blockquote><small>- {{ blok.author }} -</small>
</div>
